.container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.about-header {
    text-align: left;
    color: rgb(52, 165, 108);
    font-size: xx-large;
}

.dark-theme .about-header {
    text-align: left;
    color: #438c69;
    font-size: xx-large;
}

.about-name-surname {
    color: rgb(52, 165, 108);
    margin-top: 50px;
    text-align: center;
}

.dark-theme .about-name-surname {
    color: #438c69;
    margin-top: 50px;
    text-align: center;
}

.about-icons-container {
    text-align: center;
}

.about-icons {
    margin: 20px;
    color: rgb(23, 23, 23);
    font-size: 35px;
}

.about-icons:hover {
    color: rgb(52, 165, 108);
}
.dark-theme .about-icons:hover {
    color: #397458;
}