.contact-box {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

.contact__section-title {
    margin-bottom: 15px;
}

.contact__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    padding: 30px 0 0;
}

.contact__form::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, white, silver, white);
    top: 0;
    left: 0;
}

.contact__label {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: bold;
}

.contact__label span {
    margin-bottom: 4px;
}

.contact__label:not(:last-child) {
    margin-bottom: 10px;
}

.contact__input,
.contact__textarea {
    padding: 10px;
    font-size: 16px;
    border: 2px solid silver;
    border-radius: 10px;
}

.dark-theme .contact__input,
.dark-theme .contact__textarea {
    background: #ddd;
}

.contact__input:focus::placeholder,
.contact__textarea:focus::placeholder {
    color: silver;
}

.dark-theme .contact__input::placeholder,
.dark-theme .contact__textarea::placeholder {
    color: #838383;
}
.contact__textarea {
    height: 200px;
    resize: vertical;
}

.contact__textarea::placeholder {
    color: rgb(52, 165, 108);
}
.contact__btn {
    padding: 12px;
    font-size: 24px;
    border-radius: 10px;
    background: rgb(52, 165, 108);
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 10px 1px silver;
}

.dark-theme .contact__btn {
    box-shadow: 0 2px 10px 1px #3a3a3a;
}

.contact__info {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.contact__info-item {
    display: flex;
    align-items: center;
}

.contact__info-item:first-child {
    margin-bottom: 8px;
}

@media all and (min-width: 850px) {
    .contact-box {
        flex-direction: row;
        align-items: center;
    }

    .contact__form {
        flex: 1;
        padding: 0 60px 0 0;
        margin: 0 60px 0 0;
    }

    .contact__form::after {
        height: 100%;
        width: 1px;
        top: 0;
        left: calc(100% - 1px);
        background: linear-gradient(to bottom, white, silver, white);
    }

    .contact__info {
        margin-bottom: 0;
        width: max-content;
    }
}
