header {
    min-height: 100px;
    font-family: 'Montserrat', serif;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.header {
    z-index: 10000000;
}

.header--active {
    overflow: visible;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#logo {
    flex-shrink: 0;
    width: 250px;
}

#logo_darkmode {
    display: none;
}

.dark-theme #logo {
    display: none;
}

.dark-theme #logo_darkmode {
    width: 350px;
    display: flex;
}
#header-nav {
    display: inherit;
}

.animate__animated.animate__fadeInDown {
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

.header-nav__hamburger-toggle {
    margin-right: 20px;
    font-size: 30px;
    color: #747575;
    cursor: pointer;
    background: none;
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.dark-theme .header--active .header-nav__hamburger-toggle {
    color: rgb(52, 165, 108);
}

.header-nav__hamburger-toggle .fa-bars {
    display: inline-block;
}

.header-nav__hamburger-toggle .fa-close {
    display: none;
}

.header--active .header-nav__hamburger-toggle {
    position: fixed;
    right: 0;
    top: 35px;
}

.header--active .header-nav__hamburger-toggle .fa-bars {
    display: none;
}

.header--active .header-nav__hamburger-toggle .fa-close {
    display: inline-block;
}

.header-nav__list {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: white;
    flex-direction: column;
    padding: 80px 50px;
}

.dark-theme .header-nav__list {
    background-color: transparent;
}

.header--active .header-nav__list {
    display: flex;
    height: 100vh;
    background: white;
}

.header-nav__list-item {
    float: left;
}

.header-nav__link {
    display: block;
    color: rgb(52, 165, 108);
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
}

.dark-theme .header-nav__link {
    color: white;
}

.header-nav__link:hover {
    background-color: rgb(209, 202, 202);
    color: rgb(52, 165, 108);
}

.dark-theme .header-nav__link:hover {
    background-color: #438c69;
    color: white;
}

@media all and (max-width: 767px) {
    .dark-theme .header--active .header-nav__list {
        background: #4e4c4e;
    }
}

@media all and (min-width: 768px) {
    header {
        padding: 0 6%;
    }

    .header-nav__hamburger-toggle {
        display: none;
    }

    .header-nav__list {
        display: flex;
        position: static;
        padding: 0;
        flex-direction: row;
    }
}

@media all and (min-width: 1200px) {
    header {
        font-size: 22px;
        padding: 0 8%;
    }
    #logo {
        width: 350px;
    }

    .header-nav__link {
        padding: 14px 16px;
    }
}
